@import "tailwindcss";
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/montserrat-v29-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/montserrat-v29-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v29-latin-700.woff2') format('woff2');
}
*{
  scroll-behavior: smooth;
}
body{
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}
.site-header {
  background-image: url('https://pub-5d689109f9c54618b392443e150975a9.r2.dev/images/app_images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  position: relative; 
  top: 0;
}
.options-section {
  background-image: url("https://pub-5d689109f9c54618b392443e150975a9.r2.dev/images/app_images/options-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:center ; 
  height: 100%;
}
.containers{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.take-section{
  background-image: url("https://pub-5d689109f9c54618b392443e150975a9.r2.dev/images/app_images/take-section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 60vh; */
  
}
.another-font{
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-text-stroke: 1px black;
}
.ant-btn{
  background-color: rgb(0, 191, 255) !important;
  width: 100%;
}
.untouchable{
  user-select: none;
  pointer-events: none;
}
